<p id="notice"><%= notice %></p>

<h1>Titles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= link_to title, title %></td>
        <td><%= link_to 'ðŸ‘', title %></td>
        <td><%= link_to 'âœ', edit_title_path(title) %></td>
        <td><%= link_to 'ðŸ—‘', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @titles %>

<br>

<%= link_to 'New Title', new_title_path %>
