<p id="notice"><%= notice %></p>

<h1>Source Strings</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @source_strings.each do |source_string| %>
      <tr>
        <td><%= source_string.text %></td>
        <td><%= link_to 'Show', source_string %></td>
        <td><%= link_to 'Edit', edit_source_string_path(source_string) %></td>
        <td><%= link_to 'Destroy', source_string, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Source String', new_source_string_path %>
