<p id="notice"><%= notice %></p>

<h1>Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Book Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= link_to author.name, author %></td>
        <td><%= link_to author.books.count, author %></td>
        <td><%= link_to 'ðŸ‘', author %></td>
        <td><%= link_to 'âœ', edit_author_path(author) %></td>
        <td><%= link_to 'ðŸ—‘', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @authors %>

<br>

<%= link_to 'New Author', new_author_path %>
