<p id="notice"><%= notice %></p>

<h1>Filenames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filenames.each do |filename| %>
      <tr>
        <td><%= link_to filename, filename %></td>
        <td><%= link_to 'ðŸ‘', filename %></td>
        <td><%= link_to 'âœ', edit_filename_path(filename) %></td>
        <td><%= link_to 'ðŸ—‘', filename, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @filenames %>

<br>

<%= link_to 'New Filename', new_filename_path %>
