<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @year.number %>
</p>

<%= link_to 'Categories', categories_path(year: @year) %> |
<%= link_to 'Edit', edit_year_path(@year) %> |
<%= link_to 'Back', years_path %>
