<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @directory.name %>
</p>

<ul>
  <% @directory.shares.each do |share| %>
    <li><%= link_to(
      "#{share.server.name}/#{share.filename.name}",
      share
    ) %></li>
  <% end %>
</ul>

<%= link_to '✏', edit_directory_path(@directory) %> |
<%= link_to '⏫', directories_path %>
