<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Award</th>
      <th>Category</th>
      <th>Year</th>
      <th>Won</th>
      <th>Nominee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= link_to entry.award, entry.award %></td>
        <td><%= link_to entry.category, entry.category %></td>
        <td><%= link_to entry.year, entry.year %></td>
        <td><%= entry.won %></td>
        <td><%= link_to entry.nominee, entry.nominee %></td>
        <td><%= link_to 'ðŸ‘', entry %></td>
        <td><%= link_to 'âœ', edit_entry_path(entry) %></td>
        <td><%= link_to 'ðŸ—‘', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
