<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @content.book_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @content.data_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
